.friendMessage {

}

.friendImageAndText {
    display: flex;
    margin-top: 2rem;
}

.friendImageAndText img {
    width: 50px;
    margin: 1rem 1rem 0 0 ;
}

.friendText {
    background-color: #F5F7FB;
    border: 1px solid #F5F7FB;
    border-radius: 10px;
    padding: 10px;
    /*position: relative;*/

}

.friendText:after {
    content: '';
    position: absolute;
    left: 40px; bottom: 620px;
    border: 10px solid transparent;
    border-left: 20px solid whitesmoke;
    transform: rotate(170deg);
}

.friendName {

}

.friendMessageText {

}

.friendTime {
    font-size: 12px;
    padding: 0 5px 0 10px;
}
