.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.textarea {
    min-width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #F5F7FB;
}

.button {
    width: 10%;
    border-radius: 10px;
    background: #0066CC;
    color: white;
    border: 1px solid transparent;
    width:10%;
    padding: 5px;
}

.button:hover {
    background: white;
    color:  #0066CC;
    border: 1px solid #0066CC;
    font-weight: 700;

}
.button:active {

}
